/*********** général ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

i {    /*toutes les icones sont en bleu*/
    color: var(--main-color);
}

body {
    font-family: 'Raleway', serif, sans-serif;
    font-size: 16px; /* taille de police de base pour tout le document*/
    margin :auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

section, aside {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

h1,.euro, .search__filter p, h2, h3, .hebergements > a, .search__bloc--champs{
    font-weight: 700;
}
.search__bloc--picto, .piedDePage{
    background-color: #F2F2F2;
}
.cardH a, .cardP a, .cardA a{
    border-radius: 20px;
}
.nav__link a, .piedDePage a, .hebergements > a, .cardA a, .cardH a, .cardP a, .cardA a{
    color: #000000; /*text en noir*/
    text-decoration: none; /*annule le soulignement du lien*/
}
h1, h2, .search__filter--critere i{
    font-size: 22px;
}
h3, i.fa-solid.fa-location-dot, .search__bloc--champs,.search__bloc--text, .hebergements > a, .fa-solid.fa-chart-line, .fa-solid.fa-magnifying-glass{
    font-size: 18px;
}


/****************header*****************/
header {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav, header, .nav__bloc, .search, .search__bloc, i.fa-solid.fa-location-dot, .search__filter, .search__filter--critere, .numberInfo {
    display: flex;
}
#logo {
    width: 61.09px; /* défini la largeur donnée */
    height: 19px; /*défini la hauteur donnée*/
    margin-top: 30px;
}
.nav__bloc {
    flex-direction: row; /*positionne les liens en ligne*/
    justify-content: flex-end; /* alignement à droite */
    margin: 0; /* fixe la marge top à 0 pour le survol tout en haut de la page*/
}
.nav__link {
    list-style-type: none; /*enlèce les puces de la liste*/
    padding-top: 18px; /*bloque la hauteur du padding pour la bloc au survol*/
    margin-left: 30%;
}
.nav__link a {
    padding-top: 16px; /*la hauteur du padding - les 2px de bordure apparentes*/ 
}
.nav__link a:hover {
    border-top: 2px #0065FC solid; /*fait apparaitre une bordure en haut au survol du lien*/
    color:#0065FC;
}

/***************bloc de search*****************/
.search {
    flex-direction: column;
    width: 100%;
}
h1 {
    margin-bottom: 8px; /*réduit la marge ave le paragraphe dessous*/
}
.search__text {
    margin-top: 0px; /*enleve la marge*/
}
.search__bloc {
    height: 49px;
    width: 40%; /*occupe 40% de largeur du body*/
    margin-top: 5px;
    margin-bottom: 10px;
}
.search__bloc--picto {
    border: 1px solid #F2F2F2; /*bordure du picto */
    border-radius: 15px 0px 0px 15px; /*arrondi côté gauche */
    width: 10%;
}
i.fa-solid.fa-location-dot { /*selectionne avec . pour identifier les 2 classes du i*/
    height: 49px; /*donne a la boite la meme hauteur que le formulaire */
    align-items: center; /*centre verticalement */
    justify-content: center; /*centre horizontalement */
    color: #000000;
}
.search__bloc--champs {
    border: 1px solid #F2F2F2;
    width: 70%;
}
.search__bloc--button{
    width: 20%;
}
.search__bloc--text {
    height: 100%;
    color: #FFFFFF;
    background-color: #0065FC;
    padding: 15px;
    border: none; /*enleve la bordure automatique*/
    border-radius: 0px 15px 15px 0px; /*arrondi des bordures*/
}
.search__bloc--logo{
    display: none; /*desactive le logo*/
}

/****************filter*****************/
.search__filter {
    justify-content: space-between;
    column-gap: 1%;
    width: 70%; /*limite l'étalement sur la page */
    align-items: center; /*centre verticalement */
}
.search__filter--critere {
    border: 2px solid #D9D9D9; /*ajoute la bordure à tous*/
    border-radius: 25px; 
    white-space: nowrap; /* annule le retour à la ligne du text qui reste en une seule ligne */
    padding: 10px 15px;
}
.search__filter--critere i {
    padding-right: 10px; /*pour l'espacement avec le text*/
}
.search__filter p{
    font-size: 17px;
}
.search__filter--critere:hover {
    background: #DEEBFF;
}


/*********infos nbre logements*******/
.numberInfo, #picto_i {
    align-items: center; /*centre le i et le text sur l'axe vertical*/
}
.numberInfo p{
    padding-left: 10px;
}
#picto_i { /*boite du picto i pour faire le rond*/
    display: flex;
    font-size: 12px;
    justify-content: center; /*centre le i horizontalement*/
    min-width: 24px; /*faire un carré et ne pas descendre de ces mesures même en version mobile*/
    min-height: 24px;
    border: 1px solid #D9D9D9; /*mettre la bordure*/
    border-radius: 100%;  /*l'arrondir */
}

/************************cards********************/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    box-sizing: border-box;
}

.card img {
    object-fit: cover;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card > div{
    padding-left: 10px;
}
.card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.card-subtitle {
    margin: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 5px;
    margin-bottom: 33px;
}
.hebergements__card .card{
    flex-direction: column;
}

.cardH{
    height: 207.25px;
    min-width: 243px;
    box-sizing: border-box;
    margin-top: 33px;
}

.cardH img {
    box-sizing: border-box; /*colle une dimension à l'image de la boite bordures incluses*/
    width: 100%; /*largeur en %age de la totalité de l'espace dispo pour s'adapter si on redimensionne*/
    height: 114px; /*défini une hauteur pour pas que l'image ne sorte */
    border-radius: 20px 20px 0px 0px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card {
    margin-top: 33px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************activités*************/
.activites{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.activites__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    width: 100%;
}
.cardA a {
    flex-direction: column;
    height: 445px;
}
.cardA img {                                                                                                                                                                                                  
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0px 0px; /*arrondi les bords du haut de l'image pour coller aux bords de la card*/
    object-fit: cover; /*redimensionne et positionne l'image*/
}
.cardA h4{
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}
.cardA .card{
    padding: 0 !important;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}